@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #EEEEEE;
}

header {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding: 0% 15% 0% 0%;
    background-color: #fff;  
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    z-index: 2000;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0%;
    font-size: 25px;
}
.about-titulo {
    display: flex;
    justify-content: center;
    padding: 0 0 ;
}

.about-titulo-texto {
    color: #FE6244;
    font-family: "Lora", serif;
    font-size: 60px;
    margin-top: 10%;
}

.about-paragrafo {
    font-size: 22px;
    font-weight: 500;
    font-family: "Lora", serif;
    padding: 0 15%;
}

.conteudo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5%;
}

.cabecalho_logo {
    display: flex;
    align-items: center;
    padding: 0 35% 0 0 ;
}


.cabecalho_ancoras {
    display: flex;
    gap: 100px;
    font-weight: 600;
    font-size: 24px;
    align-items: center; 
}

.cabecalho_ancoras_nome {
    text-decoration: none;
    color: #000;
}

.cabecalho_ancoras_nome:hover {
    color: #FE6244;
}

.imagens {
    margin: 0 auto;
    width: 100% ; 
    max-width: 1400px; 
    height: 600px ; 
    overflow: hidden;
    border-radius: 20px;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    margin-top: 2%;
}

.imagens_slide {
    width: 400%;
    height: 100%;
    display: flex;
    border-radius: 20px;
    transition: 1.5s;
}

.imagens_slide input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 1.5s;
}

.slide img {
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    border-radius: 20px;
}

.navegacao_auto {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.navegacao_auto div {
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.75s;
}

.navegacao_auto div:not(:last-child) {
    margin-right: 40px;
}

.navegacao_manual {
    position: absolute;
    width: 100%;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

.btn-manual {
    border: 2px solid #fff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.75s;
}

.btn-manual:not(:last-child) {
    margin-right: 40px;
}

.btn-manual:hover {
    background-color: #fff;
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

.texto {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 0 30% 0 13.3%;
    margin-top: 3%;
}

.texto_titulo {
    font-family: "Lora", serif;
    font-size: 60px;
}

.texto_subtitulo {
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: 500;
}

.texto_paragrafo {
    font-family: "Lora", serif;
    font-weight: 400;
    font-size: 25px;
    margin-top: 1%;
    margin: 0 0 5% 0;
}

.imagem_equipe {
    position: static;
    border: 5px solid #000;
    border-radius: 10px;
    background-color: #000;
    z-index: 3000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.img_texto {
    display: flex;
    align-items: center;
    background-color: #FE6244;
    z-index: 1000;
}

.texto_img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8.23% 4%;
    margin-top: 4.75%;
    color: #fff;
}

.titulo_img {
    font-family: "Lora", serif;
    font-size: 60px;
}

.paragrafo_img {
    font-family: "Lora", serif;
    font-size: 30px;
}

.titulo_unidade {
    font-family: "Lora", serif;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    margin-top: 3%;
}

.titulo_unidade_sub {
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.unidade {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    padding: 2%;
}

.par_unidade {
    font-family: "Lora", serif;
    font-size: 30px;
    font-weight: 500;
    margin-top: 5%;
    padding: 6%;
}

.destaque {
    color: #FE6244;
}

.mapa {
  width: 100%;
  max-width: 800px;
  margin: 40px auto;
  border: 3px solid #333;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mapa iframe {
  width: 100%;
  height: 450px;
}

footer {
    background-color: #7d7d7d;
}

.footer{
    display: flex;
    align-items: center;
    gap: 30%;
}

.texto_footer {
    padding: 0% 2%;
    text-align: center;
    color: #fff;
    font-family: "Lora", serif;
}

.texto_footer_titulo {
    font-size: 40px;
}

.contatos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40% ;
}

.creditos {
    color: #fff;
    display: flex;
    justify-content: flex-end;
    padding: 0 13%;
    font-size: 20px;
    font-family: "Lora", serif;
}
.cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f1ad90;
}

.container {
    width: 420px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    color: #fff;
    padding: 30px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(500px);
}

.container h1 {
    font-size: 36px;
    text-align: center;
}

.input_box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0px;
}

.input_box input {
    width: 85%;
    height: 20%;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 40px;
    outline: none;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input_box input::placeholder {
    color: #ece8e8;
}

.input_box i {
    position: absolute;
    right: 20px;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#btn-senha {
    cursor: pointer;
}

.lembrar_senha {
 display: flex;
 justify-content: space-between;
 margin: -15px 0 15px ;
}

.lembrar_senha label input {
    accent-color: #fff;
    cursor: pointer;
}

.lembrar_senha a {
    text-decoration: none;
    color: #fff;
}

.lembrar_senha a:hover {
    text-decoration: underline;
}

#login {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

#login:hover {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    transition: 0.5s;
}

.criar_conta {
    font-size: 16px;
    text-align: center;
    margin: 20px 0 15px;
}

.criar_conta a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.criar_conta a:hover{
    text-decoration: underline;
}